{% include "index/header.html" %}
{% load staticfiles %}
{#{% load media %}#}

{#<body data-gr-c-s-loaded="true" style="overflow: hidden;">#}
<body data-gr-c-s-loaded="true">

<div class="panel" id="bg_1">
    <div>
        <img src="{% static 'images/logo.png'%}" alt="" id="float_panda">
    </div>
    <div class="arrow">
        <img src="{% static "images/arrow-213-64.ico"%}" alt="" id="arrow">
    </div>
    {#        <video autoplay loop poster="{% static 'images/bg.jpg' %}">#}
    {#        <source src="videos/clouds.webm" type="video/webm">#}
    {#            <source src="{% static 'images/bg.mp4' %}" type="video/mp4">#}
    {#        </video>#}

</div>

<div class="panel" id="bg_2">
    {% include "index/projects.html" %}
</div>

<div class="panel" id="bg_3">
    {% include "index/staffs.html" %}
    {% include "index/flowchart.html" %}
</div>

<div class="panel" id="bg_4">
    {% include "index/hr.html" %}
    {% include "index/footer.html" %}
</div>

</body>
</html>
